[Desktop Entry]
Name=IronBullet
Comment=HTTP automation toolkit
Exec=ironbullet
Icon=ironbullet
Type=Application
Categories=Development;Network;
Terminal=false
